div {
    border: 1px dotted blue;
}

._hidden {
    /*универсальный класс-скрывалка*/
    display: none;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.main-container .middle {
    display: flex;
    flex-direction: row;
}


